.social-title {
  margin-bottom: 26px;
  color: #f2f2f2;
  font-size: 20px;
}
.linkedin {
  cursor: pointer;
  transition: all 0.5s;
  color: #f2f2f2;
  align-items: center;
  margin: auto;
}
.linkedin:hover {
  transform: scale(1.5) rotate(360deg);
  color: #66ce91;
}
.footer-icons {
  display: flex;
  justify-content: center;
}
