.btn-delete-about {
  margin-top: 10px;
}
.text-about {
  line-height: 2;
  text-align: center;
  margin-top: 20px;
}
.about-title {
  text-align: center;
  font-size: 40px;
}
.about-container {
  margin-top: 20px;
}
